.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    color: blue;
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}
  
h2 {
    color: green;
}
.color-red{
    color:red;
    font-size: 11px;
    
}
.vdatetime-input {
    width: 98%;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
}