<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bono de Fallecimiento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container my-5 border border-secondary" id="app">
        <main class="mt-4 mb-2">
            <h1 class="text-center">Bono de Fallecimiento</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="codigo">Cod. de Empleado <small style="color: red;">*</small> </label>
                        <input type="text" class="form-control" id="codigo" v-model="codigo" aria-describedby="codigo" placeholder="Ingrese el codigo">
                        <small class="color-red" v-if="errors.codigo" >Introduzca un codigo válido</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dni">DNI del fallecido</label>
                        <input type="text" class="form-control" id="dni" v-model="dni" aria-describedby="dni" placeholder="Ingrese DNI">
                        <small class="color-red" v-if="errors.dni" >Introduzca DNI</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="familiar">Familiar</label>
                        <select class="form-control" v-model="familiar" name="familiar" id="familiar">
                            <option disabled value="">Seleccione un elemento</option>
                            <option value="Padre">Padre</option>
                            <option value="Madre">Madre</option>
                            <option value="Esposo (a)">Esposo (a)</option>
                            <option value="Hijo (a)">Hijo (a)</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dato_familiar">Datos Familiar</label>
                        <textarea class="form-control" id="dato_familiar" v-model="dato_familiar" rows="3" aria-describedby="dato" placeholder="Ingrese dato(s)"></textarea>
                        <small class="color-red" v-if="errors.dato_familiar" >Introduzca Dato Familiar</small>
                    </div>
                </div>
                
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                     <div class="form-group">
                        <label for="convenio">Acta de defunción</label>
                        <input type="file" class="form-control-file" id="acta_defuncion" @change="selectFile($event)" >
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="convenio">Partida de nacimiento del colaborador</label>
                            <input type="file" class="form-control-file" id="partida_nacimiento_colaborador" @change="selectFile($event)" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                     <div class="form-group">
                        <label for="convenio">Copia de DNI del familiar</label>
                        <input type="file" class="form-control-file" id="copia_dni_familiar" @change="selectFile($event)" >
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="convenio">Copia de DNI del colaborador</label>
                            <input type="file" class="form-control-file" id="copia_dni_colaborador" @change="selectFile($event)" >
                        </div>
                    </div>
                </div>
            </div>
            
            

            <hr>

            <div class="d-flex justify-content-center">
                <!-- Button trigger modal -->
                <button type="submit" class="btn btn-primary" @click="createSolicitudBonoFallecimiento"  :disabled="errors.codigo || loading || (documento.acta_defuncion==null && documento.partida_nacimiento_colaborador==null && documento.copia_dni_familiar==null && documento.copia_dni_colaborador==null ) "  >
                    <span
                        v-if="loading"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                    ></span>
                    Enviar
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </button>
            </div>
        </main>

         <!-- Modal -->
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Bono de Fallecimiento </h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <div class="modal-body">
                     {{message}}
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                 </div>
             </div>
         </div>
     </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="app.js"></script>
    <script>
        $('.datepicker').datepicker({
        startDate: '-3d',
        autoclose: true
        });
    </script>
    
</body>
</html>