<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ficha interna postulante</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div class="container my-5" id="app">
        <main class="mt-4 mb-2">
            <h1 class="text-center">Ficha interna postulante</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <label for="">Codigo de Empleado</label>
                    <div class="form-group">
                        <input type="email" class="form-control" id="" v-model="codigo" aria-describedby="emailHelp" placeholder="Ingrese el codigo">
                        <small class="color-red" v-if="errors.codigo" >Introduzca un codigo válido</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Sexo</label>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" v-model="sexo" id="" value="Femenino" checked>
                          <label class="form-check-label" for="">
                            Femenino
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" v-model="sexo" id="" value="Masculino">
                          <label class="form-check-label" for="">
                            Masculino
                          </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="tipo">Estado</label>
                    <div class="form-group">
                        <select class="form-control" v-model="estado" name="estado" id="estado">
                            <option disabled value="">Seleccione un elemento</option>
                            <option value="Soltero (a)">Soltero (a)</option>
                            <option value="Casado (a)">Casado (a)</option>
                            <option value="Viudo (a)">Viudo (a)</option>
                            <option value="Divorciado (a)">Divorciado (a)</option>
                        </select>
                    </div>
                </div>
                
            </div>
          
            
            <!--  -->
            <br>
            <!--  -->
            <h3>Estudios Realizados</h3>
            <div class="row">
                <hr>
                    <table class="table table-striped table-hover">
                        <thead>
                            <th class="text-center">Acciones</th>
                            <th class="text-center">Nivel</th>
                            <th class="text-center">Nombre de la institucion</th>
                            <th class="text-center">Año de ingreso</th>
                            <th class="text-center">Grado obtenido</th>
                            <th class="text-center">Situacion</th>
                        </thead>
                        <tbody>
                            <tr v-for="(estudio_realizado, k) in estudios_realizados" :key="k">
                               <td class="text-center">   
                                   <button v-on:click="removeRow(k,estudio_realizado)" class="btn btn-danger btn-sm">
                                    <i class="far fa-trash-alt"></i>
                                   </button> 
                                </td>
                               <td class="text-center"> 
                                   <select class="form-control" style="width: 120px;" v-model="estudio_realizado.nivel" name="nivel"> 
                                        <option disabled value="">Seleccione</option>
                                        <option>Primaria</option>
                                        <option>Secundaria</option>
                                        <option>Tecnico</option>
                                        <option>Universitaria</option>
                                        <option>Post-grado</option>
                                        <option>Otros estudios</option>
                                   </select> </td> 
                               <td> <input class="form-control" style="width: 200px;"  type="text" v-model="estudio_realizado.nombreInstitucion" name="nombre_institucion"> </td> 
                               <td> <input class="form-control" style="width: 200px;" type="date" v-model="estudio_realizado.anioIngresoWithoutFormat" name="anio_ingreso"> </td> 
                               <td> <input class="form-control" style="width: 200px;" type="text" v-model="estudio_realizado.gradoObtenido" name="grado_obtenido"> </td> 
                               <td> 
                                   <select class="form-control" style="width: 120px;" v-model="estudio_realizado.situacion" name="situacion">
                                        <option disabled value="">Seleccione</option>
                                        <option>Incompleta</option>
                                        <option>En curso</option>
                                        <option>Completa</option>
                                        
                                    </select> 
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                    <button type='button' class="btn btn-sm btn-info ml-4" @click="addRow">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                <hr>
            </div>
            <br>
            <hr>
            <h3>Ofimaticas</h3>
            <div class="row">
                <hr>
                    <table class="table table-striped table-hover">
                        <thead>
                            <th class="text-center" >Acciones</th>
                            <th class="text-center" >Herramienta o Programa</th>
                            <th class="text-center" >Nivel</th>
                        </thead>
                        <tbody>
                            <tr v-for="(ms_office_realizado, k) in ms_office_realizados" :key="k">
                               <td class="text-center">   
                                   <button v-on:click="removeRowMsOfficeRealizados(k,ms_office_realizado)" class="btn btn-danger btn-sm">
                                    <i class="far fa-trash-alt"></i>
                                   </button> 
                                </td>
                               <td> <input class="form-control" style="width: 200px;"  type="text" v-model="ms_office_realizado.herramienta"> </td>     
                               <td> <input class="form-control" style="width: 200px;" type="text" v-model="ms_office_realizado.nivel"> </td> 
                            </tr>
                        </tbody>
                    </table>
                    <button type='button' class="btn btn-sm btn-info ml-4" @click="addRowMsOfficeRealizados">
                        <i class="fas fa-plus-circle"></i>    
                    </button>
                <hr>
            </div>
            <br>
            <br>
            <h3>Idiomas</h3>
            <div class="row">
                <hr>
                    <table class="table table-striped table-hover">
                        <thead>
                            <th class="text-center" >Acciones</th>
                            <th class="text-center" >Idioma</th>
                            <th class="text-center" >Nivel</th>
                            
                        </thead>
                        <tbody>
                            <tr v-for="(otro_estudio_realizado, k) in otros_estudios_realizados" :key="k">
                               <td class="text-center">   
                                   <button v-on:click="removeRowOtrosEstudios(k,otro_estudio_realizado)" class="btn btn-danger btn-sm">
                                    <i class="far fa-trash-alt"></i>
                                   </button> 
                                </td>
                               <td> <input class="form-control" style="width: 200px;"  type="text" v-model="otro_estudio_realizado.idioma"> </td>     
                               <td> <input class="form-control" style="width: 200px;" type="text" v-model="otro_estudio_realizado.nivel"> </td> 
                            </tr>
                        </tbody>
                    </table>
                    <button type='button' class="btn btn-sm btn-info ml-4" @click="addRowOtrosEstudios">
                        <i class="fas fa-plus-circle"></i>
                        
                    </button>
                
                <hr>
            </div>
            <br>
            <h3>A nivel Laboral</h3>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <label for="">Cargo Actual</label>
                    <div class="form-group">
                        <input type="text" v-model="cargo_actual" class="form-control" >
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="">Área</label>
                    <div class="form-group">
                        <select class="form-control" v-model="area" name="area" >
                            <option disabled value="">Seleccione un elemento</option>
                            <option>Administración</option>
                            <option>Administración de ventas</option>
                            <option>Afiliaciones</option>
                            <option>Afiliaciones contact center</option>
                            <option>Almacén</option>
                            <option>Archivo</option>
                            <option>Asistencia al hogar</option>
                            <option>Asistencia legal</option>
                            <option>Asistencia mecánica</option>
                            <option>Asistencia usuario PC</option>
                            <option>Asistencia al asociado</option>
                            <option>Auditoria calidad contact center</option>
                            <option>Auditoria interna</option>
                            <option>Centro de Evaluación</option>
                            <option>Centro de evaluación -Trujillo</option>
                            <option>Cobranzas</option>
                            <option>Cobranzas contact center</option>
                            <option>Comisión deportiva</option>
                            <option>Compras</option>
                            <option>Contabilidad</option>
                            <option>Delegación Piura</option>
                            <option>Delegación Tacna</option>
                            <option>Distribución y cobranzas</option>
                            <option>Documentación internacional</option>
                            <option>Educación, seguridad vial</option>
                            <option>Fidelización</option>
                            <option>Finanzas</option>
                            <option>Gerencia de negocios y operaciones</option>
                            <option>Gerencia de tecnología de la información</option>
                            <option>Gerencia de ceval</option>
                            <option>Gerencia de negocios</option>
                            <option>Gerencia de operaciones</option>
                            <option>Gerencia general</option>
                            <option>Gestión de calidad</option>
                            <option>Imagen institucional</option>
                            <option>Contact center</option>
                            <option>Legal</option>
                            <option>Marketing</option>
                            <option>Planificación estratégica</option>
                            <option>Planillas</option>
                            <option>Plataforma de asistencia</option>
                            <option>Presidencia</option>
                            <option>Seguridad, salud ocupacional y medio ambiente</option>
                            <option>Selección</option>
                            <option>Servicios generales</option>
                            <option>Soat contac center</option>
                            <option>Taller asistencia mecánica</option>
                            <option>Tesorería</option>
                            <option>Touricamp</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <label for="">¿Cuánto tiempo se encuentra laborando en nuestra institución?</label>
                    <div class="form-group">
                        <input type="text" v-model="tiempo_laborando" class="form-control" >
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="">¿Ha ocupado otro cargo anteriormente dentro del TACP?</label>
                    <div class="form-group">
                        <input type="text" v-model="cargo_anterior" class="form-control" >
                    </div>
                </div>
                
            </div>

            <div class="row">
                
                <div class="col-md-6">
                    <label for="">Coméntenos ¿Cómo se siente laborando con nosotros?</label>
                    <div class="form-group">
                        <textarea class="form-control" v-model="sentir_labor"   rows="3"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="">¿Qué lo motivo a postular a esta vacante?:</label>
                    <div class="form-group">
                        <textarea class="form-control" v-model="motivo_postular"   rows="3"></textarea>
                    </div>
                </div>
            </div>


            <div class="row">
                
                <div class="col-md-6">
                    <label for="">¿Quién es su Jefe inmediato y Cómo considera Ud. la relación él?</label>
                    <div class="form-group">
                        <input type="text" v-model="jefe_inmediato" class="form-control" >
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="">¿Cómo considera Ud. su relación con sus compañeros de trabajo?</label>
                    <div class="form-group">
                        <input type="text" v-model="relacion_compañeros" class="form-control" >
                    </div>
                </div>
            </div>
            <br>
            <h3>A nivel personal</h3>
            <hr>
            <div class="row">
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="">Mencione que características personales le gustaría mejorar:</label>
                    <div class="form-group">
                        <textarea class="form-control" v-model="caracteristicas_personales"   rows="3"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="">Mencione sus habilidades personales que más lo caracterizan:</label>
                    <div class="form-group">
                        <textarea class="form-control" v-model="habilidades_personales" rows="3"></textarea>
                    </div>
                </div>
            </div>

            <!-- ********************************** -->



            <div class="w-100"></div>
            <hr>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" @click="sendFichaInternaPostulante" :disabled="errors.codigo || loading">
                    <span
                        v-if="loading"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                    ></span>
                    Guardar
                    <i class="fas fa-save"></i>
                </button>
            </div>
        </main>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ficha interna del postulante</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    <script>
        $('.datepicker').datepicker({
        startDate: '-3d',
        autoclose: true
        });
    </script>
</body>

</html>